<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flashcards</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
    <script>
        const flashcardsData = {{ flashcards_data | default([]) | tojson }};
    </script>
</head>
<body class="{{ data_type | default('default-page') }}">
    <!-- Sidebar for navigation -->
    <div class="sidebar">
        <form action="{{ url_for('flashcards') }}" method="get">
            <button type="submit" name="data_type" value="Adjectives">Adjectives</button>
            <button type="submit" name="data_type" value="Verbs">Verbs</button>
            <button type="submit" name="data_type" value="Words">Words</button>
            <button type="submit" name="data_type" value="Numbers">Numbers</button>
            <button type="submit" name="data_type" value="Letters">Letters</button>
            <button type="submit" name="data_type" value="Matras">Matras</button>
            <button type="submit" name="data_type" value="Barakhadi">Barakhadi</button>
        </form>
    </div>

    <!-- Main container -->
    <div class="main-container">
        <div class="toggle-language">
            <p>Toggle Language on front:</p>
            <button onclick="toggleLanguage()">Hindi</button>
        </div>

        <div class="flashcards-container">
            <div class="flashcard-container">
                <div id="flashcard" class="flashcard"></div>
                <div class="actions">
                    <button onclick="markCorrect()">✔️ Correct</button>
                    <button onclick="markIncorrect()">❌ Incorrect</button>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/flashcards.js') }}" defer></script>
</body>
</html>
